#table-container {
	margin-top: 15px;
}


#table-container thead th,
#table-container tbody td {
	text-align: right;
	vertical-align: bottom;
}

#table-container thead th.active,
#table-container thead th.cases-million  {
	color: var(--blue01);
}

#table-container thead th.deaths {
	color: var(--black);
}

#table-container thead th.recovered {
	color: var(--green01);
}

#table-container thead tr {
	border-bottom: 1px solid var(--grey04);
	font-family: BentonSansCond-Bold;
	font-size: 0.9rem;
	padding-bottom: 15px;
}
#table-container thead .province,
#table-container tbody .province {
	/*text-align: left;*/
}

#table-container td {
	font-family: BentonSansCond-Regular;
	font-size: 0.8rem;
	padding: 0.5rem 3px;
}

#table-container td.active,
#table-container td.cases-million {
	background-color: var(--blue06);
}

#table-container td.deaths {
	background-color: var(--grey04);
}

#table-container td.recovered {
	background-color: var(--green06);
}

#table-container .hide-mobile {
	display: none;
}


@media only screen and (min-width: 600px) {
    #table-container .hide-mobile {
		display: block;
	}
}
